# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/University Admission Procedure (Go)/*
!/University Admission Procedure (Go)/task/
/University Admission Procedure (Go)/task/*
!/University Admission Procedure (Go)/task/uap.go
